venv
__pycache__
.env
.ruff*
*.sqlite3
db.sqlite3
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.coverage
htmlcov
.DS_Store
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*